<!DOCTYPE html>
<html>
<head>
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"> <span class="brand">YelpCamp</span> </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/campgrounds">Campgrounds</a></li>
            </ul>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                   <% }else{%>
                        <li class="nav-link"><a href="#">Signed In As <%= currentUser.username %></a></li>
                        <li class="nav-link"><a href="/logout">Logout</a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
    </div>
    
    
