body{
    background: url("/background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav{
    /* opacity: 80%; */
   margin-bottom: 0;
}

.container{
    margin-top: 0;
    
}

.jumbotron{
    opacity: 80%;
    margin-bottom: 15px;
    margin-top: 0;
}

.campground{
    display: flex;
    flex-wrap: wrap;
}

.campground .thumbnail{
    opacity: 80%;
    position: relative;
    height: 320px;
    border-style: outset;
}

.campground .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    
    top: 0%; /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 100%; /* Set the width of the positioned div */
    cursor: pointer;
}

.text a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.text a:hover{
    text-decoration: none;
    color: #337ab7
}

.thumbnail img{
    width: 100%;
    height: 100%;
}
.thumbnail{
    padding: 0;
}
.thumbnail .caption-full{
    padding: 9px;
}
.delete-form{
    display: inline;
    margin :20px auto;
}

.navbar-header a{
    color:orange;
}

.well hr{
    border-color: #337ab7;
}

.addComment{
    margin: 20px;
    background-color: white;
    padding:20px;
    border-left: 5px solid #337ab7;
    border-radius: 15px;
}

.addComment textarea{
    margin-bottom: 10px;
}

.brand{
    color: #337ab7;
    font-weight: bold;
    font-size: 25px;
}

.addComment a{
    font-weight: bold;
    text-decoration: underline;
}


.form-container{
    width: 30%; 
    margin:50px auto;
    padding: 20px;
    /* border: 1px solid gray; */
    border-style: outset;
}
.form-container form{
    margin-bottom: 20px;
}

@media (max-width: 767.98){
    .container{
        width: 100% !important;
        background-color: green !important;
    }
    .jumbotron{
        width: 100% !important;
    }
}